<!-- <div class="row">
  <div class="col-lg-12 mb-4">
          <div class="breadcrumb">  
                    <h5 style="font-weight: bolder" class="mt-3">
                      <i class="fa fa-server"></i>&nbsp;
                      Manage Allocations / Plan : 2017
                    </h5>                         
                    <div class="top-rigth-icons ml-auto">
                              <span class="d-none d-sm-inline-block" tourAnchor="tourId42">
                                    <a >
                                      &nbsp;&nbsp;<i class="fa fa-2x fa-check-square-o"></i>
                                    </a><h6>Allocate</h6>
                              </span>&nbsp;
                              <span class="d-none d-sm-inline-block"  tourAnchor="tourId43">
                                  <a>
                                      <i class="fa fa-2x fa-cloud-download"></i>
                                  </a><h6>Export</h6>
                                </span> 
                    </div>
          </div>
  </div>
</div>


<div class="row app-header">
 &nbsp;&nbsp;
     
       
         
            <div class="col-lg-1 mr-0">    Allocate Year:</div>
            <div class="col-lg-2 mr-0" tourAnchor="tourId41">
            <select  class="form-control" >
                  <option>2017</option>
                  
              </select>
            </div>
         
     
 
</div>

<div class="input-group mb-2">
  <span class="input-group-prepend">
    <span class="input-group-text">
        <i class="fa fa-search"></i>
    </span>
  </span>
  <input 
    class="form-control" 
    type="text" 
    placeholder="Type to filter the name column..." 
   />
</div>

<div class="col-lg-12">
  <table class="tabletable table-bordered">
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>Full Name</th>
        <th>Band</th>
        <th>Employee Status</th>
        <th>Grant</th>
        <th>Allocation Year</th>
        <th>Allocated</th>
        <th>To Be Allocated</th>
        <th>Rescind</th>
        <th>Status</th>
        <th ><input type="checkbox"></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1000004</td>
        <td>Kundu, Mr. Somnath</td>
        <td>3A</td>
        <td>Resigned</td>
        <td>500@ 1<i class="fa fa-dollar"></i></td>
        <td>2019</td>
        <td>300</td>
        <td>100</td>
        <td>100</td>
        <td><button class="btn btn-danger">Pending</button></td>
        <td><input type="checkbox"></td>
        <td><i class="fa fa-pencil" tourAnchor="tourId44"></i></td>
      </tr>
    </tbody>
  </table>
</div>





<div class="col-lg-12" tourAnchor="tourId45" style="margin-top: 200px;">
  <div class="breadcrumb">  
      <h4 style="font-weight: bolder">
         XYZ: Edit Allocations
            <br>
            <span style="font-size: 15px;">Plan:2017,Grant Date:10-Apr-2018</span>    
        </h4>
    
      <div class="top-rigth-icons ml-auto">
        
       <span class="d-none d-sm-inline-block ">
            <a class="btn btn-primary btn-sm"  ><i class="fa fa-arrow-circle-left" style="color: white"> </i></a>
            <h6>Back</h6> 
          </span> &nbsp;   
          <span class="d-none d-sm-inline-block " >
                <a>
                    &nbsp;<i class="fa fa-2x fa-upload"></i>
                </a>
               <h6>Save</h6> 
          </span>
          
      </div>
  </div>
</div>

<table  class="tabletable table-bordered">
    <thead >
      <tr>
        <th>Param</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Allocation 1</td>
        <td>10-Sep-21</td>
        <td><a id="test" tourAnchor="tourId46">100</a></td>
        <td><button class="btn btn-danger">Pending</button></td>
      </tr>
      <tr>
        <td>Allocation 2</td>
        <td>10-Sep-22</td>
        <td><a>100</a></td>
        <td><button class="btn btn-danger">Pending</button></td>
      </tr>
      
    </tbody>
</table>
<br>
<div class="row">
    <div tourAnchor="tourId47" class="col-lg-2" style="background-color: rgb(47, 62, 158);height: 80;width: 142;color: white;">
        <br>  
      <span >500@2$</span>
        <h6 style="margin-top: 8%;">Granted</h6>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <div tourAnchor="tourId48" class="col-lg-2"   style="background-color: rgb(55, 141, 59);height: 80;width: 142;color: white;">
      <br>  
      <span>350</span>
      <h6 style="margin-top: 8%;">Allocated</h6>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <div tourAnchor="tourId49" class="col-lg-2"   style="background-color: rgb(255, 165, 0);height: 80;width: 142;color: white;">
      <br>  
      <span>100</span>
      <h6 style="margin-top: 8%;">To Be Allocated</h6>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <div tourAnchor="tourId450" class="col-lg-2"   style="background-color: rgb(255, 0, 0);height: 80;width: 142;color: white;">
      <br>  
      <span>50</span>
      <h6 style="margin-top: 8%;">Rescind</h6>
    </div>
</div> -->