.login-container{
    position: absolute;
    .card{
        .card-header{
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-top: -40px;
            border-radius: 50%;
            font-size: 36px;
        }
    }
}
#d-flex{
    background-image: url("/assets/img/common/esop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}