.tableheader{
    background-color:rgb(176, 196, 222);
    font-weight: bolder;
}
p,li{
    font-size: 10px;
}
#grantInfo{
    height: 44px;
}
// tr{
//     font-size: 12px;
//     margin: 0%;
   
// }
.grantaccepteddetails{
    width: 77%;
}
/*
.col-lg-2{
    min-width: 100px;
}
*/
